@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1rem = 10px */

html {
    font-size: 62.5%; 
    color: whit;
}

.home {
    position: relative;
}

.home__background {
    position: absolute;
    z-index: 0;
}

.home--blurring {
    background-color: black;
    position: absolute;
    z-index: 10;
}